* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.subdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .dropZone {
  background-color: rgb(189, 187, 187);
  display: flex;
  height: 200px;
  width: 600px;
  border: 2px dashed darkblue;
  justify-content: center;
  align-items: center;
} */
