* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.qpmain {
  border: 1px solid skyblue;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 650px;
}

td:hover {
  background-color: whitesmoke;
}
