.category-container::-webkit-scrollbar {
    display: none;
}

.category-container {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}



#container {
    width:300px;
    height: 60px;
    overflow: hidden;
}
#modules {
    /* height:90px; 40px - more place for scrollbar, is hidden under parent box */
    /* padding:5px; */
    text-align:center;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}
.module {
    display:inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    
    background:#ddd;
}