#tileImg {
    border-radius: 4px;
    height: auto;
    width: 85%;
    display: inline-block;
    align-self: center;
}

/* @media screen and (max-width: 508px) {
  body{
      background-color: cornflowerblue;
  }
   #tileImg{
       width: 100%;
   }
   .toCheck{
       background-color: chartreuse;
   }
    
} */